#com-atlassian-confluence .markdown-macro code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#com-atlassian-confluence .markdown-macro pre code {
    display: block;
    font-size: 12px;
    line-height: 18px;
    overflow: auto;
    padding: 6px 10px;
}